In [21]:
import urllib
import pandas as pd
from urllib.request import urlopen

In [22]:

df = pd.read_csv (r'C:\Users\jenni\Desktop\jenni\dsa Recommender system\u.txt', header = None)
df.columns = ['first']
df.to_csv (r'C:\Users\jenni\Desktop\jenni\dsa Recommender system\u.csv', index=None)

In [23]:
df.head()

                    first
0  196\t242\t3\t881250949
1  186\t302\t3\t891717742
2   22\t377\t1\t878887116
3   244\t51\t2\t880606923
4  166\t346\t1\t886397596

In [25]:
df[['userid','itemid','rating','timestamp']] = df['first'].str.split("\t",expand=True)

In [26]:
df.head()

                    first userid itemid rating  timestamp
0  196\t242\t3\t881250949    196    242      3  881250949
1  186\t302\t3\t891717742    186    302      3  891717742
2   22\t377\t1\t878887116     22    377      1  878887116
3   244\t51\t2\t880606923    244     51      2  880606923
4  166\t346\t1\t886397596    166    346      1  886397596

In [27]:
df.drop(['first'],axis=1, inplace=True)

In [28]:
df.head()

  userid itemid rating  timestamp
0    196    242      3  881250949
1    186    302      3  891717742
2     22    377      1  878887116
3    244     51      2  880606923
4    166    346      1  886397596

In [29]:
df.describe()

        userid  itemid  rating  timestamp
count   100000  100000  100000     100000
unique     943    1682       5      49282
top        405      50       4  891033606
freq       737     583   34174         12